<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azhealthcheck20200401130647.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f8824d51-dc11-4dd1-b9e2-4338d3a5e26e/resourcegroups/AGroup/providers/Microsoft.Web/sites/azhealthcheck20200401130647</ResourceId>
    <UserName>$azhealthcheck20200401130647</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azhealthcheck20200401130647.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>