<h1>Logged in User Profile</h1>

<table>
  <tr>
    <td>Display name:</td>
    <td>{{profile?.displayName}}</td>
    <td>Office:</td>
    <td>{{profile?.officeLocation}}</td>
  </tr>
  <tr>
    <td>Given name:</td>
    <td>{{profile?.givenName}}</td>
    <td>City:</td>
    <td>{{profile?.city}}</td>
  </tr>
  <tr>
    <td>Job title:</td>
    <td>{{profile?.jobTitle}}</td>
    <td>Province:</td>
    <td>{{profile?.province}}</td>
  </tr>
  <tr>
    <td>Mobile phone:</td>
    <td>{{profile?.mobilePhone}}</td>
    <td>Country:</td>
    <td>{{profile?.country}}</td>
  </tr>
  <tr>
    <td>Azure user id:</td>
    <td>{{profile?.id}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Groups:</td>
    <td>{{azgroups}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<br/>
<table>
  <tr>
    <td>Domain:</td>
    <td>{{appenvironment.domain}}</td>
  </tr>
  <tr>
    <td>Client ID:</td>
    <td>{{appenvironment.clientId}}</td>
  </tr>
  <tr>
    <td>Authority:</td>
    <td>{{appenvironment.authority}}</td>
  </tr>
</table>


<br/>
<button type="button" class="btn btn-outline-primary" (click)="refresh()">Refresh</button>



