<h1>Various Authentication Data</h1>

<table>
  <tr>
    <th><b>MS Graph API profile data</b></th>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tbody>
          <tr>
            <td>Display name:</td>
            <td>{{profile?.displayName}}</td>
            <td>Office:</td>
            <td>{{profile?.officeLocation}}</td>
          </tr>
          <tr>
            <td>Given name:</td>
            <td>{{profile?.givenName}}</td>
            <td>City:</td>
            <td>{{profile?.city}}</td>
          </tr>
          <tr>
            <td>Job title:</td>
            <td>{{profile?.jobTitle}}</td>
            <td>Province:</td>
            <td>{{profile?.province}}</td>
          </tr>
          <tr>
            <td>Mobile phone:</td>
            <td>{{profile?.mobilePhone}}</td>
            <td>Country:</td>
            <td>{{profile?.country}}</td>
          </tr>
          <tr>
            <td>Azure user id:</td>
            <td>{{profile?.id}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <!--<tr>
            <td>Groups:</td>
            <td>{{azgroups}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Roles:</td>
            <td>{{azroles}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>-->
        </tbody>
      </table>
    </td>
  </tr>
</table>
<br />
<table border="1">
  <tbody>
    <tr>
      <td>Group Id</td>
      <td>Group Name</td>
    </tr>
    <tr *ngFor="let group of azgroups"><td>{{group.id}}</td><td>{{group.displayName}}</td></tr>
  </tbody>
</table>
<br />
<table border="1">
  <tbody>
    <tr>
      <td>Role Id</td>
      <td>Role Name</td>
    </tr>
    <tr *ngFor="let role of azroles"><td>{{role.id}}</td><td>{{role.displayName}}</td></tr>
  </tbody>
</table>
<br/>
<table>
  <tr>
    <th>Angular SPA environment settings</th>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tbody>
          <tr>
            <td>Domain:</td>
            <td>{{appenvironment.domain}}</td>
          </tr>
          <tr>
            <td>Client ID:</td>
            <td>{{appenvironment.clientId}}</td>
          </tr>
          <tr>
            <td>Authority:</td>
            <td>{{appenvironment.authority}}</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<br />
<table>
  <tr>
    <th>JWT Access Token body:</th>
  </tr>
  <tr>
    <td>
      <table border="1">
        <tbody>
          <tr><td>Name:</td><td>{{accessToken.name}}</td></tr>
          <tr><td>Username:</td><td>{{accessToken.preferred_username}}</td></tr>
          <tr *ngFor="let role of accessToken.roles"><td>Role:</td><td>{{role}}</td></tr>
        </tbody>
      </table>
  </tr>
</table>


<br />
<button type="button" class="btn btn-outline-primary" (click)="refresh()">Refresh</button>



